:root {
  --background: #F9F9F9;
  --foreground: #111111;
  --color-grape: #771E42;
  --color-text-grey: #606060;
  --color-text: var(--foreground);
  --color-white: #FFFFFF;
}


html,
body {
  min-height: 100%;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: var(--font-nunito), sans-serif;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  width: 100vw;
  width: 100dvw;
}


body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  width: 100dvw;

}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  font-size: 3.8461538461538463vw;
}

@media (min-width: 603px) {
  html,
  body {
    font-size: 2.487562189054726vw;
  }
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 1.25vw;
  }
}

@media (min-width: 1800px) {
  html,
  body {
    font-size: 18px;
  }
}


body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

body > main {
  flex-grow: 2;
}

article,
aside,
details,
picture,
figcaption,
figure,
footer,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
